<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>The Wheel of Movies - Welcome</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/css/base.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>

  <body>
    <!-- Top nav links to homepage -->
    <nav class="black lighten-2" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo white-text">The Wheel of Movies</a>
    </nav>
    {{{body}}}
  </body>
  </html>
