
<form method="POST" action="/login">

    <div>
        <h2 class = "center">Login Here:</h2>
        <br>
        <label for="inputEmail">Username</label>
        <div>
            <input type="text" id="inputEmail" placeholder="Username" name="username">
        </div>
    </div>
    <div>
        <label for="inputPassword">Password</label>
        <div>
            <input type="password" id="inputPassword" placeholder="Password" name = "password">
        </div>
    </div>
    <div>
        <div class = "center">
            <button type="submit" class="button btn-large waves-effect black lighten-2">Sign in</button>
        </div>
    </div>
</form>
