/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 /* UNIVERSAL */
 .center{
   margin: 5 auto;
 }
 .hidden{
   display: none;
 }
 .divider{
    width:15px;
    height:auto;
    display:inline-block;
}
/* INDEX.HBS */
.top-space{
  margin-top:90px;
}
.container{
  width:100%;
  max-width: 1580px;
}
.parallax-container {
  min-height: 500px;
  line-height: 0;
  height: auto;
  color: black;
}
.parallax-container .section {
    width: 100%;
}

.icon-info{
  margin-left: 25%;
}

.icon-block .material-icons {
  font-size: inherit;
}
#map {
  height: 100%;
}
#filter{
  margin-left: 25%;
}
.column {
    float: left;
    width: 50%;
}
/* DECISION.HBS */
.box{
  max-width: 80%;
  border: 2px solid green;
  margin-left:10%;
  background-color: lightgrey;
  z-index: 1000;
}
.favorited{
  background-color: white;
  color: red;
}
#spinwheel img{
  position: fixed;
  height: 350px;
  width: 70%;
  bottom: 0;
  left: 15%;
}
